.my-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.my-modal-window {
  width: 600px;
  border-radius: 5px;
  background: white;
  margin: 100px auto;
}

.my-modal-header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
}

.my-modal-title {
  font-size: 1.5rem;
}

.my-modal-close {
  cursor: pointer;
}

.my-modal-body {
  padding: 10px;
}

.my-modal-body p {
  margin: 0 0 5px;
}

.my-modal-footer {
  padding: 5px 10px;
  border-top: 2px solid #eee;
}
